services:
  - type: web
    name: fraedzane
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 8080
    routes:
      - type: rewrite
        source: /*
        destination: /index.html