<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraedzane Creaciones</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="banner">
  <div class="contenido-banner">
    <div class="contenedor-banner">
      <div class="lado-izq">
        <h1>FRAEDZANE</h1>
      </div>
      <div class="lado-der">
        <h2>CREACIONES</h2>
        <img src="logo sweb.jpg" alt="Decoración" class="decoracion">
      </div>
    </div>
    <p class="eslogan">Tú lo imaginas y nosotros lo creamos</p>
  </div>
</header>

<section class="galeria">
  <div class="tarjeta">
    <img src="img1.jpg" alt="Imagen 1">
    <h3>FLORES ETERNAS </h3>
    <p>RAMO DE FLORES ETERNAS</p>
  </div>

  <div class="tarjeta">
    <img src="img2.jpg" alt="Imagen 2">
    <h3>MUÑECOS</h3>
    <p>PELUCHES.</p>
  </div>

  <div class="tarjeta">
    <img src="img3.jpg" alt="Imagen 3">
    <h3>BILLETES</h3>
    <p>BILLETES .</p>
  </div>
</section>
</body>
</html>